{{!
    @template theme_baitalgahwa/navbar
}}
<header class="baitalgahwa-header">
<nav class="navbar fixed-top navbar-expand baitalgahwa-navbar" aria-label="{{#str}}sitemenubar, admin{{/str}}">
    <div class="container-fluid">
        <button class="navbar-toggler aabtn d-block d-md-none px-1 my-1 border-0" data-toggler="drawers" data-action="toggle" data-target="theme_boost-drawers-primary">
            <span class="navbar-toggler-icon"></span>
            <span class="sr-only">{{#str}}sidepanel, core{{/str}}</span>
        </button>
        <a href="{{{ config.homeurl }}}" class="navbar-brand d-none d-md-flex align-items-center m-0 me-4 p-0 aabtn">
            {{#themelogourl}}
                <img src="{{{ themelogourl }}}" class="baitalgahwa-custom-logo logo me-1" alt="{{sitename}}">
            {{/themelogourl}}
            {{^themelogourl}}
                {{# output.should_display_navbar_logo }}
                <img src="{{output.get_compact_logo_url}}" class="logo me-1" alt="{{sitename}}">
                {{/ output.should_display_navbar_logo }}
                {{^ output.should_display_navbar_logo }}
                <span class="baitalgahwa-sitename text-reset">{{{ sitename }}}</span>
                {{/ output.should_display_navbar_logo }}
            {{/themelogourl}}
        </a>
        {{#primarymoremenu}}
        <div class="primary-navigation">
            {{> core/moremenu}}
        </div>
        {{/primarymoremenu}}
        {{# output.page_heading_menu}}
        <ul class="navbar-nav d-none d-md-flex my-1 px-1">
            {{{ output.page_heading_menu }}}
        </ul>
        {{/output.page_heading_menu}}
        <div id="usernavigation" class="navbar-nav ms-auto h-100">
            {{# output.search_box }}
            {{{ output.search_box }}}
            <div class="divider border-start h-75 align-self-center mx-1 d-none d-md-block"></div>
            {{/output.search_box}}
            {{#langmenu}}
            {{> theme_boost/language_menu }}
            <div class="divider border-start h-75 align-self-center mx-1 d-none d-md-block"></div>
            {{/langmenu}}
            {{{ output.navbar_plugin_output }}}
            <div class="d-flex align-items-stretch usermenu-container" data-region="usermenu">
                {{#usermenu}}
                {{> core/user_menu }}
                {{/usermenu}}
            </div>
            {{{ output.edit_switch }}}
        </div>
    </div>
</nav>
</header>
{{> theme_boost/primary-drawer-mobile }}
